.ipynb_checkpoints/
*.json
*/.*.swp
*/.*.swo
*/*.pyc
.DS_Store
__*__
.idea/
*.pyc
.python-version
*.egg-info/
dist/
MANIFEST
.vagrant/
dj_local_conf.json
build/
.coverage
./tests/.coverage
./tests/dj-store/*
*.log
*.env
docker-compose.yml
notebook
__main__.py
jupyter_custom.js
.eggs
*.code-workspace
docs/site


!.vscode/settings.json
!.vscode/launch.json
!.devcontainer/devcontainer.json
!.devcontainer/docker-compose.yml

