.ipynb_checkpoints/
*.json
*/.*.swp
*/.*.swo
*/*.pyc
.DS_Store
__*__
.idea/
*.pyc
.python-version
*.egg-info/
dist/
MANIFEST
.vagrant/
dj_local_conf.json
build/
.coverage
./tests/.coverage
./tests/dj-store/*
*.log
*.env
docker-compose.yml
notebook
.vscode
__main__.py
jupyter_custom.js
apk_requirements.txt