# pip install datajoint[test]
# pre-commit install
# pre-commit run --all-files
# pre-commit autoupdate
# SKIP=flake8 git commit -m "foo"

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
    exclude: 'docs/mkdocs.yaml' # exclude mkdocs.yaml since pymdownx.emoji !! usage
  - id: check-json
    exclude: '(.vscode|.devcontainer)' # exclude these since // was used for comments
  - id: check-toml
  - id: check-added-large-files
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
      args: [--toml, pyproject.toml]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.4
  hooks:
    # Run the linter
    - id: ruff
      args: [--fix]
      files: ^(src/|tests/)
    # Run the formatter
    - id: ruff-format
      files: ^(src/|tests/)
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  # lint github actions workflow yaml
  - id: actionlint
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.14.1
  hooks:
    - id: mypy
      files: ^src/datajoint/
      additional_dependencies:
        - pydantic
        - pydantic-settings
        - types-PyMySQL
        - types-tqdm
        - pandas-stubs
        - numpy
