# pip install datajoint[test]
# pre-commit install
# pre-commit run --all-files
# pre-commit autoupdate
# SKIP=flake8 git commit -m "foo"

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
    exclude: 'docs/mkdocs.yaml' # exclude mkdocs.yaml since pymdownx.emoji !! usage
  - id: check-json
    exclude: '(.vscode|.devcontainer)' # exclude these since // was used for comments
  - id: check-toml
  - id: check-added-large-files
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
- repo: https://github.com/pycqa/isort
  rev: 6.0.1  # Use the latest stable version
  hooks:
    - id: isort
      args:
        - --profile=black  # Optional, makes isort compatible with Black
- repo: https://github.com/psf/black
  rev: 25.1.0 # matching versions in pyproject.toml and github actions
  hooks:
  - id: black
    args: ["-v", "src", "tests", "--diff"] # --required-version is conflicting with pre-commit
- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  # syntax tests
  - id: flake8
    args:
      - --select=E9,F63,F7,F82
      - --count
      - --show-source
      - --statistics
    files: src/ # a lot of files in tests are not compliant
  # style tests
  - id: flake8
    args:
      - --ignore=E203,E722,W503
      - --count
      - --max-complexity=62
      - --max-line-length=127
      - --statistics
    files: src/ # a lot of files in tests are not compliant
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  # lint github actions workflow yaml
  - id: actionlint

## Suggest to add pytest hook that runs unit test | Prerequisite: split unit/integration test
## https://github.com/datajoint/datajoint-python/issues/1211
