:root {
    --dj-primary: #00a0df;
    --dj-secondary: #ff5113;
    --dj-background: #808285;
    --dj-black: #000000;
    --dj-white: #ffffff;
}

/* footer previous/next navigation */
.md-footer__inner:not([hidden]) {
    display: none
}

/* footer social icons */
html a[title="DataJoint"].md-social__link svg {
    color: var(--dj-primary);
}
html a[title="Slack"].md-social__link svg {
    color: var(--dj-primary);
}
html a[title="LinkedIn"].md-social__link svg {
    color: var(--dj-primary);
}
html a[title="Twitter"].md-social__link svg {
    color: var(--dj-primary);
}
html a[title="GitHub"].md-social__link svg {
    color: var(--dj-primary);
}
html a[title="DockerHub"].md-social__link svg {
    color: var(--dj-primary);
}
html a[title="PyPI"].md-social__link svg {
    color: var(--dj-primary);
}
html a[title="StackOverflow"].md-social__link svg {
    color: var(--dj-primary);
}
html a[title="YouTube"].md-social__link svg {
    color: var(--dj-primary);
}

[data-md-color-scheme="datajoint"] {
    /* ribbon */
    /* ribbon + markdown heading expansion */
    --md-primary-fg-color: var(--dj-black);
    /* ribbon text */
    --md-primary-bg-color: var(--dj-primary);

    /* navigation */
    /* navigation header + links */
    --md-typeset-a-color: var(--dj-primary);
    /* navigation on hover + diagram outline */
    --md-accent-fg-color: var(--dj-secondary);

    /* main */
    /* main header + already viewed*/
    --md-default-fg-color--light: var(--dj-background);
    /* primary text */
    --md-typeset-color: var(--dj-black);
    /* code comments + diagram text */
    --md-code-fg-color: var(--dj-primary);

    /* footer */
    /* previous/next text */
    /* --md-footer-fg-color: var(--dj-primary); */
}

[data-md-color-scheme="slate"] {
    /* ribbon */
    /* ribbon + markdown heading expansion */
    --md-primary-fg-color: var(--dj-primary);
    /* ribbon text */
    --md-primary-bg-color: var(--dj-white);

    /* navigation */
    /* navigation header + links */
    --md-typeset-a-color: var(--dj-primary);
    /* navigation on hover + diagram outline */
    --md-accent-fg-color: var(--dj-secondary);

    /* main */
    /* main header + already viewed*/
    /* --md-default-fg-color--light: var(--dj-background); */
    /* primary text */
    --md-typeset-color: var(--dj-white);
    /* code comments + diagram text */
    --md-code-fg-color: var(--dj-primary);

    /* footer */
    /* previous/next text */
    /* --md-footer-fg-color: var(--dj-white); */
}
