# ---------------------- PROJECT SPECIFIC ---------------------------

site_name: DataJoint Documentation
repo_url: https://github.com/datajoint/datajoint-python
repo_name: datajoint/datajoint-python
nav:
  - DataJoint Python: index.md
  - Quick Start Guide: quick-start.md
  - Concepts: 
    - Principles: concepts/principles.md
    - Data Model: concepts/data-model.md
    - Data Pipelines: concepts/data-pipelines.md
    - Teamwork: concepts/teamwork.md
    - Terminology: concepts/terminology.md
  - System Administration: 
    - Database Administration: sysadmin/database-admin.md
    - Bulk Storage Systems: sysadmin/bulk-storage.md
    - External Store: sysadmin/external-store.md
  - Client Configuration: 
    - Install: client/install.md
    - Credentials: client/credentials.md
    - Settings: client/settings.md
    - File Stores: client/stores.md
  - Schema Design:
    - Schema Creation: design/schema.md
    - Table Definition:
      - Table Tiers: design/tables/tiers.md
      - Declaration Syntax: design/tables/declare.md
      - Primary Key: design/tables/primary.md
      - Attributes: design/tables/attributes.md
      - Lookup Tables: design/tables/lookup.md
      - Manual Tables: design/tables/manual.md
      - Blobs: design/tables/blobs.md
      - Attachments: design/tables/attach.md
      - Filepaths: design/tables/filepath.md
      - Custom Datatypes: design/tables/customtype.md
      - Dependencies: design/tables/dependencies.md
      - Indexes: design/tables/indexes.md
      - Master-Part Relationships: design/tables/master-part.md
    - Schema Diagrams: design/diagrams.md
    - Entity Normalization: design/normalization.md 
    - Data Integrity: design/integrity.md
    - Schema Recall: design/recall.md
    - Schema Drop: design/drop.md
    - Schema Modification: design/alter.md
  - Data Manipulations:
    - manipulation/index.md
    - Insert: manipulation/insert.md
    - Delete: manipulation/delete.md
    - Update: manipulation/update.md
    - Transactions: manipulation/transactions.md
  - Data Queries:
    - Principles: query/principles.md
    - Example Schema: query/example-schema.md
    - Fetch: query/fetch.md
    - Iteration: query/iteration.md
    - Operators: query/operators.md
    - Restrict: query/restrict.md
    - Projection: query/project.md
    - Join: query/join.md
    - Aggregation: query/aggregation.md
    - Union: query/union.md
    - Universal Sets: query/universals.md
    - Query Caching: query/query-caching.md
  - Computations:
    - Make Method: compute/make.md
    - Populate: compute/populate.md
    - Key Source: compute/key-source.md
    - Distributed Computing: compute/distributed.md
  - Publish Data: publish-data.md
  - Internals:
    - SQL Transpilation: internal/transpilation.md
  - Tutorials:
      - JSON Datatype: tutorials/json.ipynb
  - FAQ: faq.md
  - Developer Guide: develop.md
  - Citation: citation.md
  - Changelog: changelog.md
  - API: api/ # defer to gen-files + literate-nav

# ---------------------------- STANDARD -----------------------------

edit_uri: ./edit/master/docs/src
docs_dir: ./src
theme:
  font:
    text: Roboto Slab
    code: Source Code Pro
  name: material
  custom_dir: src/.overrides
  icon:
    logo: main/company-logo
  favicon: assets/images/company-logo-blue.png
  features:
    - toc.integrate
    - content.code.annotate # Add codeblock annotations
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: datajoint
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths:
            - "."
            - /main/
          options:
            filters:
              - "!^_"
            docstring_style: sphinx # Replaces google default pending docstring updates
            members_order: source
            group_by_category: false
            line_length: 88
  - gen-files:
      scripts:
        - ./src/api/make_pages.py
  - literate-nav:
      nav_file: navigation.md
  - exclude-search:
      exclude:
        - "*/navigation.md"
        - "*/archive/*md"
  - mkdocs-jupyter:
      include: ["*.ipynb"]
  - section-index
markdown_extensions:
  - attr_list
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - .overrides/.icons
  - mdx_truly_sane_lists
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.magiclink # Displays bare URLs as links
  - pymdownx.tasklist: # Renders check boxes in tasks lists
      custom_checkbox: true
  - md_in_html
extra:
  generator: false # Disable watermark
  version:
    provider: mike
  social:
    - icon: main/company-logo
      link: https://www.datajoint.com
      name: DataJoint
    - icon: fontawesome/brands/slack
      link: https://datajoint.slack.com
      name: Slack
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/datajoint
      name: LinkedIn
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/datajoint
      name: Twitter
    - icon: fontawesome/brands/github
      link: https://github.com/datajoint
      name: GitHub
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/u/datajoint
      name: DockerHub
    - icon: fontawesome/brands/python
      link: https://pypi.org/user/datajointbot
      name: PyPI
    - icon: fontawesome/brands/stack-overflow
      link: https://stackoverflow.com/questions/tagged/datajoint
      name: StackOverflow
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCdeCuFOTCXlVMRzh6Wk-lGg
      name: YouTube
extra_css:
  - assets/stylesheets/extra.css
