# ---------------------- PROJECT SPECIFIC ---------------------------

site_name: DataJoint Documentation
repo_url: https://github.com/datajoint/datajoint-python
repo_name: datajoint/datajoint-python
nav:
  - Home: index.md
  - Quick Start: quick-start.md
  - Concepts:
    - concepts/index.md
    - Terminology: concepts/terminology.md
  - Getting Started:
    - Installation: client/install.md
    - Connection: client/credentials.md
    - Configuration: client/settings.md
  - Schema Design:
    - Schemas: design/schema.md
    - Table Tiers: design/tables/tiers.md
    - Declaration: design/tables/declare.md
    - Primary Key: design/tables/primary.md
    - Attributes: design/tables/attributes.md
    - Foreign Keys: design/tables/dependencies.md
    - Indexes: design/tables/indexes.md
    - Lookup Tables: design/tables/lookup.md
    - Manual Tables: design/tables/manual.md
    - Master-Part: design/tables/master-part.md
    - Diagrams: design/diagrams.md
    - Alter: design/alter.md
    - Drop: design/drop.md
  - Data Types:
    - Blob: datatypes/blob.md
    - Attach: datatypes/attach.md
    - Filepath: datatypes/filepath.md
    - Object: datatypes/object.md
    - Adapted Types: datatypes/adapters.md
  - Data Operations:
    - operations/index.md
    - Insert: operations/insert.md
    - Delete: operations/delete.md
    - Update: operations/update.md
    - Transactions: operations/transactions.md
    - Make Method: operations/make.md
    - Populate: operations/populate.md
    - Key Source: operations/key-source.md
    - Distributed: operations/distributed.md
  - Queries:
    - query/principles.md
    - Fetch: query/fetch.md
    - Operators: query/operators.md
    - Restrict: query/restrict.md
    - Project: query/project.md
    - Join: query/join.md
    - Aggregation: query/aggregation.md
    - Union: query/union.md
    - Universal Sets: query/universals.md
    - Iteration: query/iteration.md
    - Caching: query/query-caching.md
  - Administration:
    - Database: admin/database.md
    - Storage Backends: admin/storage.md
    - External Store: admin/external-store.md
  - Tutorials:
    - JSON Datatype: tutorials/json.ipynb
  - Reference:
    - FAQ: reference/faq.md
    - SQL Transpilation: reference/transpilation.md
    - Publishing Data: reference/publish-data.md
    - Developer Guide: reference/develop.md
    - Citation: reference/citation.md
    - Changelog: changelog.md
  - API: api/ # defer to gen-files + literate-nav

# ---------------------------- STANDARD -----------------------------

edit_uri: ./edit/master/docs/src
docs_dir: ./src
theme:
  font:
    text: Roboto Slab
    code: Source Code Pro
  name: material
  custom_dir: src/.overrides
  icon:
    logo: main/company-logo
  favicon: assets/images/company-logo-blue.png
  features:
    - toc.integrate
    - content.code.annotate # Add codeblock annotations
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: datajoint
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths:
            - "."
            - /main/
          options:
            filters:
              - "!^_"
            docstring_style: sphinx # Replaces google default pending docstring updates
            members_order: source
            group_by_category: false
            line_length: 88
  - gen-files:
      scripts:
        - ./src/api/make_pages.py
  - literate-nav:
      nav_file: navigation.md
  - exclude-search:
      exclude:
        - "*/navigation.md"
        - "*/archive/*md"
  - mkdocs-jupyter:
      include: ["*.ipynb"]
  - section-index
markdown_extensions:
  - attr_list
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - .overrides/.icons
  - mdx_truly_sane_lists
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.magiclink # Displays bare URLs as links
  - pymdownx.tasklist: # Renders check boxes in tasks lists
      custom_checkbox: true
  - md_in_html
extra:
  generator: false # Disable watermark
  version:
    provider: mike
  social:
    - icon: main/company-logo
      link: https://www.datajoint.com
      name: DataJoint
    - icon: fontawesome/brands/slack
      link: https://datajoint.slack.com
      name: Slack
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/datajoint
      name: LinkedIn
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/datajoint
      name: Twitter
    - icon: fontawesome/brands/github
      link: https://github.com/datajoint
      name: GitHub
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/u/datajoint
      name: DockerHub
    - icon: fontawesome/brands/python
      link: https://pypi.org/user/datajointbot
      name: PyPI
    - icon: fontawesome/brands/stack-overflow
      link: https://stackoverflow.com/questions/tagged/datajoint
      name: StackOverflow
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCdeCuFOTCXlVMRzh6Wk-lGg
      name: YouTube
extra_css:
  - assets/stylesheets/extra.css
