# ---------------------- PROJECT SPECIFIC ---------------------------

site_name: DataJoint Python - Developer Documentation
site_description: Developer documentation for DataJoint Python contributors
repo_url: https://github.com/datajoint/datajoint-python
repo_name: datajoint/datajoint-python
nav:
  - Home: index.md
  - Contributing: develop.md
  - Architecture:
    - architecture/index.md
    - SQL Transpilation: architecture/transpilation.md
  - Changelog: changelog.md
  - API Reference: api/ # defer to gen-files + literate-nav

# ---------------------------- STANDARD -----------------------------

edit_uri: ./edit/master/docs/src
docs_dir: ./src
theme:
  font:
    text: Roboto Slab
    code: Source Code Pro
  name: material
  custom_dir: src/.overrides
  icon:
    logo: main/company-logo
  favicon: assets/images/company-logo-blue.png
  features:
    - toc.integrate
    - content.code.annotate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: datajoint
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths:
            - "../src"
          options:
            docstring_style: numpy
            members_order: source
            group_by_category: false
            line_length: 88
            show_source: false
  - gen-files:
      scripts:
        - ./src/api/make_pages.py
  - literate-nav:
      nav_file: navigation.md
  - section-index
markdown_extensions:
  - attr_list
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - .overrides/.icons
  - mdx_truly_sane_lists
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.magiclink
  - pymdownx.tasklist:
      custom_checkbox: true
  - md_in_html
extra:
  generator: false
  version:
    provider: mike
  social:
    - icon: main/company-logo
      link: https://www.datajoint.com
      name: DataJoint
    - icon: fontawesome/brands/github
      link: https://github.com/datajoint
      name: GitHub
    - icon: fontawesome/brands/slack
      link: https://datajoint.slack.com
      name: Slack
extra_css:
  - assets/stylesheets/extra.css
