name: Manual Draft Release
on:
  workflow_dispatch:
    inputs:
      testpypi:
        description: 'Release to TestPyPI then skip following'
        default: 'false'
        type: choice
        options:
          - 'true'
          - 'false'
jobs:
  build-release:
    permissions:
      # write permission is required to create a github release
      contents: write
      # write permission is required for autolabeler
      # otherwise, read permission is required at least
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      # Drafts your next Release notes as Pull Requests are merged into "master"
      - name: Draft release notes
        id: create_gh_release
        uses: release-drafter/release-drafter@v6
        with:
          config-name: release_drafter.yaml
          disable-autolabeler: true
          name: ${{ github.event.inputs.testpypi == 'true' && 'test' || github.event.release.name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
